<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.university.dao.SubjectsSpecialitiesRepository">

    <insert id="create">
        INSERT INTO specialities_subjects(speciality_id, subject_id) VALUES (#{specialityId}, #{subjectId})
    </insert>

</mapper>