<?xml version="1.0" encoding="utf-8" ?>
<specialities>
    <speciality>
        <id>1</id>
        <name>Informatics Engineering</name>
        <subjects>1</subjects>
    </speciality>
    <speciality>
        <id>2</id>
        <name>Accountant</name>
        <subjects>1</subjects>
    </speciality>
</specialities>